html, body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    height: 120px;
    width: 900px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

.dice {
    width: 120px;
    height: 120px;
    border: 5px solid black;
    border-radius: 10px;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 20px;
}

.dot {
    width: 60%;
    height: 60%;
    background-color: black;
    border-radius: 50%;
}

.center-dot {
    grid-column: 2;
    grid-row: 2;
}

.top-left-dot {
    grid-column: 1;
    grid-row: 1;
}

.bottom-right-dot {
    grid-column: 3;
    grid-row: 3;
}

.top-right-dot {
    grid-column: 3;
    grid-row: 1;
}

.bottom-left-dot {
    grid-column: 1;
    grid-row: 3;
}

.middle-right-dot {
    grid-column: 3;
    grid-row: 2;
}

.middle-left-dot {
    grid-column: 1;
    grid-row: 2;
}