html, body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.rectangle {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 160px;
}

.reverse {
    flex-direction: row-reverse;
    text-align: end;
}

.fib-box {
    color: white;
    padding: 10px;
}

.fib-0 { background-color: #00636c; flex: 0 ; }
.fib-1 { background-color: #00838f; flex: 1; }
.fib-1 { background-color: #00838f; flex: 1; }
.fib-2 { background-color: #0097a7; flex: 2; }
.fib-3 { background-color: #00acc1; flex: 3; }
.fib-5 { background-color: #00bcd4; flex: 5; }
.fib-8 { background-color: #26c6da; flex: 8; }
.fib-13 { background-color: #4dd0e1; flex: 13; }
.fib-21 { background-color: #b2ebf2; flex: 21; }
.fib-34 { background-color: #d5f3f7; flex: 34; }
